.icon-roket {
  background-image: url(../ico/servise-rocket.jpg);
}
.icon-web {
  background-image: url(../ico/servise-web.jpg);
}
.icon-blog {
  background-image: url(../ico/servise-blog.jpg);
}
.icon-mobile {
  background-image: url(../ico/servise-mobile.jpg);
}

/* ! Блок The Team */
.icon-AdrianThomas {
  background-image: url(../ico/AdrianThomas.jpg);
}
.icon-NarateKetram {
  background-image: url(../ico/NarateKetram.jpg);
}
.icon-FernandoComet {
  background-image: url(../ico/FernandoComet.jpg);
}
.icon-AdedayoSaheed {
  background-image: url(../ico/AdedayoSaheed.jpg);
}
