.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 469px;
  color: #4e525d;
  text-align: center;
}

.testimonials-title {
  margin-top: 147px;
  font-size: 42px;
}

.testimonials-reviews {
  width: 643px;
  margin-top: 37px;
  margin-bottom: 104px;
  font-size: 19px;
  letter-spacing: normal;
  line-height: 30px;
}

.testimonials-reviews-name {
  color: #9a8faf;
  font-size: 21px;
}
